<div class="body" [ngClass]="{'error': showErrorScreen, 'no-flex': !showPopUp}">
  <div class="l-wrap">
    <img class="title" src="../../../assets/gouden-dief-icons/logo.svg">
    <form class="input" [formGroup]="loginForm" (submit)="submit()" action="#">
      <img class="input__image" src="../../../assets/gouden-dief-icons/kader.svg">
      <label class="input__label">
        <input class="input__field" placeholder="startcode" formControlName="code">
      </label>
    </form>
  </div>

  <div class="pop-up l-wrap" *ngIf="showPopUp">
    <div class="pop-up__content">
      <img src="../../../assets/gouden-dief-icons/old-paper-vintage-aged.png" class="pop-up__img">
      <h1 class="pop-up__title">Instructies</h1>

      <ol class="pop-up__list">
        <li>Gebruik Google Chrome voor het beste resultaat</li>
        <li>Zet het geluid van je computer aan</li>
        <li>Zet de helderheid van je scherm voldoende hoog</li>
        <li>Gebruik ENTER om verder te gaan</li>
        <li>Je vooruitgang wordt 7 dagen bewaard.</li>
      </ol>

      <div class="pop-up__button"
           (click)="showPopUp = false">
        <img src="../../../assets/gouden-dief-icons/play.svg">
      </div>
    </div>
  </div>
</div>
