@import "../../../assets/css/fonts";

@import "../../../assets/css/font-size";

.body {
  align-items: flex-start;
  background-image: url("src/assets/gouden-dief-icons/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.no-flex {
  display: grid;
}

.l-wrap {
  align-items: center;
}

.title {
  grid-column: 8 / span 18;
  margin-top: 20%;
  width: 100%;
}

.input {
  margin-top: 30%;

  &__label {
    height: auto;
  }

  &__button {
    margin-top: 200%;
  }
}

.pop-up {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  position: absolute;
  width: 100vw;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 11 / span 12;
    height: auto;
    position: relative;
  }

  &__img {
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__title {
    @include extra-medium;
    font-family: 'mayan';
    font-weight: normal;
    margin-top: 18%;
    z-index: 999;
  }

  &__list {
    @include medium;
    text-align: left;
    z-index: 1;

    li {
      font-family: 'hand';
      margin-bottom: 0;
      line-height: 120%;
    }
  }

  &__button {
    cursor: pointer;
    display: block;
    margin: 3% 0 15% 0;
    padding: 0.5%;
    text-align: center;
    z-index: 2;

    img {
      width: 40%;
    }
  }
}
