<div class="body" [ngClass]="{'error': showErrorScreen}">
  <div class="l-wrap">
    <form class="input" [formGroup]="loginForm" (submit)="submit()" action="#">
      <img class="input__image" src="../../../assets/gouden-dief-icons/kader.svg">
      <label class="input__label">
        <textarea class="input__field" formControlName="code" (keydown)="pressed($event)"></textarea>
      </label>
    </form>
    <div class="progression-meter">
      <div class="meter-filled m"
           [ngStyle]="getMeterFilledStyle()">
      </div>
      <div class="meter-unfilled" [ngStyle]="getMeterUnfilledStyle()">
    </div>
  </div>
</div>
