@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.clickable {
  cursor: pointer;
}

.test {
  grid-column: 1 / span 1;
}

.border {
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.body {
  align-items: center;
  background-color: #000;
  display: grid;
  height: 100vh;
  width: 100vw;
}

.container_16 {
  margin: 0;
  width: 100vw;
}

.logo {
  grid-column: 10 / span 12;
  flex-direction: column;
  height: 100vh;
}

.logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.small-nav {
  grid-column: 27 / span 2;
}

.hamburger-menu {
  display: none;
  grid-column: 1 / span 32;
}

.button-nav {
  display: none;
  grid-column: 14 / span 6;
  margin-top: 60px;

  img {
    width: 100%;
  }
}

.framework {
  align-items: center;
  border: 1px solid #fff;
  grid-column: 4 / span 22;
  justify-content: center;

  &__text {
    @include extra-medium;
    color: #fff;
    font-family: 'avenir';
    margin-bottom: 0;
    padding: 4% 3% 4% 3%;
  }
}

.projects-list {
  align-items: center;
  margin-bottom: 7%;
  margin-top: 7%;

  img {
    width: 100%;
  }
}

.aanbod {
  @include extra-medium;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-family: 'avenir';
  grid-column: 4 / span 22;

  &__list {
    list-style: none;
    margin-bottom: 0;
  }

  &__title {
    @include extra-large;
  }

  &__bedrijven {
    align-items: flex-end;
    border-right-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #006938 , #008424) 1 100%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    width: 50%;

    li {
      text-align: right;
      margin: 15px 0 0 0;
    }
  }

  &__particulieren {
    align-items: flex-start;
    border-left-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #008424 , #00921a) 1 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 50%;

    li {
      text-align: left;
      margin: 15px 0 0 0;
    }
  }
}

.shop {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 22;

  &__title {
    @include extra-large;
    color: #fff;
    font-family: 'avenir';
  }

  img {
    width: 100%;
  }

  &__basket {
    margin-top: 3vh;
    width: 100%;
  }

  &__basket-one {
    grid-column: 8 / span 2;
  }

  &__basket-two {
    grid-column: 14 / span 2;
  }

  &__basket-three {
    grid-column: 20 / span 2;
  }
}


.contact {
  display: flex;
  grid-column: 4 / span 22;
  flex-direction: column;

  &__error-state {
    @include extra-medium;
    color: #fff;
    display: flex;
    font-family: 'avenir';
    flex-direction: column;
    grid-column: 9 / span 16;
    justify-content: center;
    text-align: center;
  }

  &__loading {
    animation: spin 3.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.0416666666666665%;
  margin-bottom: 1.0416666666666665%;
}

input, textarea {
  @include extra-medium;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'avenir';
  width: 100%;
  border:none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

textarea {
  height:  100%;
  text-align: start;
}

.textarea {
  height:  (85%-(1.0416666666666665% / 2));
  margin-bottom: 1.0416666666666665%;

  textarea {
    resize: none;
  }
}

.gegevens {
  display: grid;
  grid-template-columns: (40%-(1.0416666666666665% / 2)) (60%-(1.0416666666666665% / 2));
  grid-column-gap: 1.0416666666666665%;

  &__email {
    margin-top: 50px;
  }

  &__button {
    height:  (15%-(1.0416666666666665% / 2));
  }

  &__number {
    @include extra-medium;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'avenir';
    padding: 15px 20px;

    p {
      margin-bottom: 50px;
    }
  }

  &__socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12%;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

  &__facebook {
    width: 60%;
  }

  &__insta {
    width: 60%;
  }

  &__linked {
    width: 60%;
  }

  &__detail {
    align-items: center;
    display: flex;
    flex-direction: column;

    p:first-child {
      margin-bottom: 0;
    }
  }

  button[disabled] {
    background-image: linear-gradient(to right, #999999, #999999);
  }
}

.button {
  @include extra-medium;
  background-image: linear-gradient(to right, #006938 , #009245);
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 100%;
  font-family: 'avenir';
  width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  #home {
    align-items: baseline;
  }

  #profile {
    height: auto;
  }

  #projects {
    height: auto;
  }

  #contact {
    height: auto;
  }

  .small-nav {
    display: none;
  }

  .button-nav {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    height: 20vh;
    grid-column: 8 / span 18;
    margin-top: 80px;
  }

  .framework {
    border: 1px solid #fff;
    grid-column: 4 / span 26;
    height: auto;
    margin-top: 12vh;

    &__text {
      color: #fff;
      font-family: 'avenir';
      margin-bottom: 0;
      padding: 4% 3% 8% 4%;
    }
  }

  #aanbod {
    height: auto;
  }

  .aanbod {
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 24;

    &__bedrijven {
      align-items: center;
      border-right-width: 0;
      border-bottom-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to bottom, #006938 , #008424) 100% 1;
      margin-top: 50px;
      padding: 0 0 40px 0;
      width: 100%;

      li {
        text-align: center;
        margin: 15px 0 0 0;
      }
    }

    &__particulieren {
      align-items: center;
      border-left-width: 0;
      border-top-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to bottom, #008424 , #00921a) 100% 1;
      padding: 40px 0 0 0;
      width: 100%;

      li {
        text-align: center;
        margin: 15px 0 0 0;
      }
    }

    &__title {
      @include extra-grand;
    }
  }

  .projects-list {
    align-items: center;
    grid-column: 8 / span 18;
    margin-bottom: 7%;
    margin-top: 7%;

    img {
      width: 100%;
    }
  }

  .projects-list:first-child {
    margin-top: 12vh;
  }

  .contact {
    grid-column: 5 / span 24;

    &__error-state {
      @include extra-medium;
      color: #fff;
      display: flex;
      flex-direction: column;
      grid-column: 9 / span 16;
      justify-content: center;
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    &__mail {
      margin-top: 1.0416666667%;
    }
  }

  .gegevens {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__email {
      margin-top: 20px;
    }

    &__button {
      height: 40px;
    }

    &__number {
      font-family: 'avenir';

      p {
        margin-bottom: 20px;
      }
    }

    &__facebook {
      width: 60%;
    }

    &__insta {
      width: 60%;
    }

    &__linked {
      width: 60%;
    }

    .textarea {
      height:  200px;
    }

    &__socials {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 900px) and (orientation : portrait) {
  #home {
    align-items: baseline;
  }

  #projects {
    height: auto;
  }

  .small-nav {
    display: none;
  }

  .button-nav {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    height: 20vh;
    grid-column: 8 / span 18;
    margin-top: 80px;
  }

  .framework {
    border: 1px solid #fff;
    grid-column: 4 / span 26;
    height: auto;
    margin-top: 12vh;

    &__text {
      color: #fff;
      font-family: 'avenir';
      margin-bottom: 0;
      padding: 4% 3% 8% 4%;
    }
  }

  .shop {
    grid-column: 5 / span 24;
  }


  .aanbod {
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 24;

    &__bedrijven {
      align-items: center;
      border-right-width: 0;
      border-bottom-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to bottom, #006938 , #008424) 100% 1;
      margin-top: 50px;
      padding: 0 0 40px 0;
      width: 100%;

      li {
        text-align: center;
        margin: 15px 0 0 0;
      }
    }

    &__particulieren {
      align-items: center;
      border-left-width: 0;
      border-top-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to bottom, #008424 , #00921a) 100% 1;
      padding: 40px 0 0 0;
      width: 100%;

      li {
        text-align: center;
        margin: 15px 0 0 0;
      }
    }
  }

  .projects-list {
    align-items: center;
    grid-column: 10 / span 14;
    margin-bottom: 7%;
    margin-top: 7%;

    img {
      width: 100%;
    }
  }

  .projects-list:first-child {
    margin-top: 12vh;
  }

  .contact {
    grid-column: 5 / span 24;

    &__error-state {
      @include extra-medium;
      color: #fff;
      display: flex;
      flex-direction: column;
      grid-column: 9 / span 16;
      justify-content: center;
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    &__mail {
      margin-top: 1.0416666667%;
    }
  }

  .gegevens {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__email {
      margin-top: 20px;
    }

    &__button {
      height: 40px;
    }

    &__number {
      font-family: 'avenir';

      p {
        margin-bottom: 20px;
      }
    }

    &__facebook {
      width: 60%;
    }

    &__insta {
      width: 60%;
    }

    &__linked {
      width: 60%;
    }

    .textarea {
      height:  200px;
    }

    &__socials {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}




