@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.body {
  align-items: center;
  background-color: #000;
  display: grid;
}

.container {
  &__title {
    @include extra-large;
    color: #fff;
    grid-column: 4 / span 22;
    font-family: 'avenir';
    margin-top: 20px;
  }

  &__full-image {
    grid-column: 4 / span 26;
    width: 100%;
  }
}
