@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.body {
  align-items: center;
  background-image: url("src/assets/gouden-dief-icons/bg7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
}

.l-wrap {
  align-items: center;
}

.input__label {
  height: 50%;
}

.input {
  align-items: center;
  display: flex;
  grid-column: 12 / span 4;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
  position: relative;

  &__field {
    margin-left: 13%;
    width: 75%;
  }
}

.text {
  @include large;
  color: #fff;
  font-family: "trueblood";
  grid-column: 16 / span 7;
  margin: 0 0 0 10%;
}
