<div class="nav">
  <img (click)="scrollEvent.emit('profile')"
       class="nav__button"
       [src]="getIconUrl('profile')">
  <img (click)="scrollEvent.emit('projects')"
       class="nav__button"
       [src]="getIconUrl('projects')">
  <img (click)="scrollEvent.emit('aanbod')"
       class="nav__button"
       [src]="getIconUrl('aanbod')">
  <img (click)="scrollEvent.emit('shop')"
       class="nav__button"
       [src]="getIconUrl('shop')">
  <img (click)="scrollEvent.emit('contact')"
       class="nav__button"
       [src]="getIconUrl('contact')">
</div>

