<div class="nav">
  <img (click)="scrollEvent.emit('profile')"
       class="nav__button"
       [src]="getIconUrl('profile')"
       alt="image of profile">
  <img (click)="scrollEvent.emit('projects')"
       class="nav__button"
       [src]="getIconUrl('projects')"
       alt="image of puzzle">
  <img (click)="scrollEvent.emit('aanbod')"
       class="nav__button"
       [src]="getIconUrl('aanbod')"
       alt="image of light">
  <img (click)="scrollEvent.emit('shop')"
       class="nav__button"
       [src]="getIconUrl('shop')"
       alt="image of baskey">
  <img (click)="scrollEvent.emit('contact')"
       class="nav__button"
       [src]="getIconUrl('contact')"
       alt="image of letter">
</div>

