<div class="body">
  <div class="l-wrap">
    <img class="title" src="../../../assets/gouden-dief-icons/logo.svg">
    <div class="text-container">
      <p>Proficiat, jullie ontrafelde de mysteries van de tempel en losten de gouden dief op. Leuk, deel het met je vrienden en familie en laat je email achter voor updates.</p>
    </div>
    <form class="input"
          [formGroup]="loginForm"
          (submit)="submit($event)"
          action="#">
      <input class="input__field" formControlName="email" name="email">
      <ng-container [ngSwitch]="contactService.viewState">
        <ng-template [ngSwitchCase]="ViewState.Success">
          <img class="input__icon" src="../../../assets/gouden-dief-icons/form-correct.svg">
        </ng-template>
        <ng-template [ngSwitchCase]="ViewState.Loading">
          <img class="input__icon input__loading" src="../../../assets/gouden-dief-icons/form-loading.svg">
        </ng-template>
        <ng-template [ngSwitchCase]="ViewState.Error">
          <img class="input__icon" src="../../../assets/gouden-dief-icons/form-error.svg">
        </ng-template>
      </ng-container>
    </form>

    <div class="arrow">
      <img src="../../../assets/gouden-dief-icons/last_arrow.svg" (click)="naviagte()">
    </div>
  </div>
</div>
