@font-face {
  font-family: keania;
  src: url("src/assets/fonts/KeaniaOne-Regular.ttf");
}

@font-face {
  font-family: offside;
  src: url("src/assets/fonts/Offside-Regular.ttf");
}

@font-face {
  font-family: futur;
  src: url("src/assets/fonts/FUTRFW.TTF");
}

@font-face {
  font-family: avenir;
  src: url("src/assets/fonts/AvenirMed.ttf");
}

@font-face {
  font-family: arthur;
  src: url("src/assets/fonts/KingArthurLegend.ttf");
}

@font-face {
  font-family: vinchand;
  src: url("src/assets/fonts/vinchand.ttf");
}

@font-face {
  font-family: wisdom;
  src: url("src/assets/fonts/wisdom.ttf");
}

@font-face {
  font-family: mayan;
  src: url("src/assets/fonts/Mayan.ttf");
}

@font-face {
  font-family: trueblood;
  src: url("src/assets/fonts/TRUEblood.ttf");
}

@font-face {
  font-family: hand;
  src: url("src/assets/fonts/Handwritingfont.ttf");
}
