@font-face {
  font-family: keania;
  src: url("../../assets/fonts/KeaniaOne-Regular.ttf");
}

@font-face {
  font-family: offside;
  src: url("../../assets/fonts/Offside-Regular.ttf");
}

@font-face {
  font-family: futur;
  src: url("../../assets/fonts/FUTRFW.TTF");
}

@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/Avenir.ttc");
}

@font-face {
  font-family: arthur;
  src: url("../../assets/fonts/KingArthurLegend.ttf");
}

@font-face {
  font-family: vinchand;
  src: url("../../assets/fonts/vinchand.ttf");
}

@font-face {
  font-family: wisdom;
  src: url("../../assets/fonts/wisdom.ttf");
}
