<div class="body">
  <div class="container_16">
    <div class="grid_4 splash splash__one">
      <img src="../../assets/images/spatter1.svg">
    </div>
    <div class="grid_4 splash splash__two">
      <img src="../../assets/images/spatter2.svg">
    </div>
    <div class="grid_4 splash splash__three">
      <img src="../../assets/images/spatter3.svg">
    </div>

    <div class="grid_16">
      <h1 class="title">De legende van Zandhoven</h1>
      <h2 class="extra-title" routerLink="/">Created by
        <img class="logo" src="./assets/images/logo-zwart.svg" alt="A Maze logo">
      </h2>
    </div>
    <div class="grid_16 button" (click)="downloadPdf()">
      <img src="../../assets/images/seal.svg">
    </div>
    <h2 class="grid_16 subtitle">klik hier om je avontuur te starten</h2>
  </div>
</div>
