@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.body {
  background-image: url("src/assets/images/bg-min.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.splash {
  img {
    max-width: 100%;
  }

  &__one {
    bottom: 0;
    position: absolute;
    right: 120px;
  }

  &__two {
    top: 0;
    position: absolute;
    right: -0.1%;
  }

  &__three {
    top: 45%;
    left: -0.1%;
    position: absolute;
  }
}

.title {
  @include extra-grand;
  color: #000;
  font-family: arthur;
  text-align: center;
  margin-top: 9rem;
}

.extra-title {
  @include medium;
  color: #000;
  cursor: pointer;
  font-family: wisdom;
  text-align: center;
}

.logo {
  margin-left: 10px;
  width: 4%;
}

.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: 10vh;

  img {
    width: 18%;
  }
}

.subtitle {
  @include large;
  align-items: center;
  color: #000;
  display: flex;
  font-family: vinchand;
  justify-content: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .splash img {
    display: none;
  }

  .title {
    margin-top: 7rem;
    margin-bottom: 10px;
  }

  .logo {
    margin-left: 5px;
    width: 8%;
  }

  .button img {
    width: 180px;
  }

  .subtitle {
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 479px) {
  .title {
    margin-top: 4rem;
  }
}
