@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.body {
  background-image: url("src/assets/images/bg-min.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.splash {
  img {
    max-width: 100%;
  }

  &__one {
    bottom: 0;
    position: absolute;
    right: 120px;
  }

  &__two {
    top: 0;
    position: absolute;
    right: -0.1%;
  }

  &__three {
    top: 45%;
    left: -0.1%;
    position: absolute;
  }
}

.title {
  @include extra-grand;
  color: #000;
  font-family: arthur;
  text-align: center;
  margin-top: 10vh;
}

.extra-title {
  @include medium;
  color: #000;
  cursor: pointer;
  font-family: wisdom;
  text-align: center;
}

.logo {
  margin-left: 10px;
  width: 4%;
}

.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: 10vh;

  img {
    width: 18%;
  }
}

.subtitle {
  @include large;
  align-items: center;
  color: #000;
  display: flex;
  font-family: vinchand;
  justify-content: center;
  margin-bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .splash img {
    display: none;
  }

  .title {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .logo {
    margin-left: 5px;
    width: 8%;
  }

  .button img {
    width: 180px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 800px) and (orientation: landscape){
  .title {
    margin-top: 20px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 900px) and (orientation : portrait) {
  .title {
    margin-bottom: 10px;
    font-size: 40px;
    margin-top: 15vh;
  }

  .subtitle {
    font-size: 35px;
  }

  .extra-title {
    font-size: 20px;
  }

  .button img {
    width: 220px;
  }
}

@media only screen and (min-device-width : 900px) and (max-device-width : 1024px) and (orientation : portrait) {
  .title {
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 15vh;
  }

  .subtitle {
    font-size: 45px;
  }

  .extra-title {
    font-size: 25px;
  }

  .button img {
    width: 280px;
  }
}
