<div class="body" [ngClass]="{'error': showErrorScreen}">
  <div class="l-wrap">
    <div class="snake-box"
         [ngStyle]="{'display': 'hidden', 'border': 'none'}">
    </div>
    <img src="../../../assets/gouden-dief-icons/snake_tail.svg" class="tail" [ngStyle]="{'height.px': getSize()}">
    <div class="snake-box"
         *ngFor="let box of boxes"
         [id]="box.name"
         [ngStyle]="{'height.px': getSize(), 'background-color': getColor(box), 'grid-column': box.styling, 'border': getBorder(box)}"
         (click)="toggleBox(box)">
    </div>
    <img src="../../../assets/gouden-dief-icons/snake_head.svg" class="head">
  </div>
</div>
