<div class="hamburger">
  <ng-container *ngTemplateOutlet="hamburgerMenuOpen ? openMenu : closedMenu"></ng-container>
  <div class="hamburger__element">
    <img src="../../../assets/images/logo_kleur.svg" (click)="scrollEvent('home')">
  </div>
</div>

<div class="full-hamburger" *ngIf="hamburgerMenuOpen">
  <div class="button-nav">
    <div class="button-nav__button" (click)="scrollEvent('profile')">
      <img class="nav__button"
           src="../../../assets/images/profile.svg">
      <p>OVER ONS</p>
    </div>

    <div class="button-nav__button" (click)="scrollEvent('projects')">
      <img class="nav__button"
           src="../../../assets/images/projects.svg">
      <p>PROJECTEN</p>
    </div>

    <div class="button-nav__button" (click)="scrollEvent('aanbod')">
      <img class="nav__button"
           src="../../../assets/images/aanbod.svg">
      <p>AANBOD</p>
    </div>

    <div class="button-nav__button" (click)="scrollEvent('shop')">
      <img class="nav__button"
           src="../../../assets/images/shop.svg">
      <p>WEBSHOP</p>
    </div>

    <div class="button-nav__button" (click)="scrollEvent('contact')">
      <img class="nav__button"
           src="../../../assets/images/contact.svg">
      <p>CONTACT</p>
    </div>
  </div>
</div>

<ng-template #openMenu>
  <img class="hamburger__cross" src="../../../assets/images/cross.svg" (click)="toggleMenu()">
</ng-template>

<ng-template #closedMenu>
  <img class="hamburger__icon" src="../../../assets/images/hamburger.svg" (click)="toggleMenu()">
</ng-template>
