<div class="body" [ngClass]="{'error': showErrorScreen}">
  <div class="l-wrap">
    <div class="token-1 token">
      <img src="../../../assets/gouden-dief-icons/token_1.svg" (click)="clickButton('1')">
      <p>KINICH AHAU</p>
    </div>
    <div class="token-2 token">
      <img src="../../../assets/gouden-dief-icons/token_2.svg" (click)="clickButton('2')">
      <p>CIZIN</p>
    </div>
    <div class="token-3 token">
      <img src="../../../assets/gouden-dief-icons/token_3.svg" (click)="clickButton('3')">
      <p>HUN HUNAHPU</p>
    </div>
  </div>
</div>
