@import "./assets/css/fonts";

@import "./assets/css/font-size";

* {
  outline: none;
}

.text-container {
  @include large;
  align-items: center;
  color: #fff;
  font-family: 'trueblood';
  display: flex;
  grid-column: 5 / span 24;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  align-items: center;
  display: flex;
  grid-column: 10 / span 2;
  justify-content: center;
}

.form-icon {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  height: 8%;
  justify-content: center;

  &__svg {
    width: 50%;
  }
}

.input {
  align-items: center;
  display: flex;
  grid-column: 12 / span 9;
  justify-content: center;
  position: relative;

  &__field {
    @include extra-medium;
    border: none;
    height: 100%;
    font-family: 'mayan';
    margin-left: 8%;
    outline: none;
    padding: 10px;
    text-align: center;
    width: 84%;
  }

  &__label {
    height: 6%;
    position: absolute;
    width: 100%;
  }

  &__image {
    width: 100%;
  }
}

.arrow {
  display: flex;
  flex-direction: column;
  grid-column: 29 / span 2;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.error {
  background-color: rgba(#e64607, 0.5);
  background-blend-mode: multiply;
}
