<div class="body" id="home" #home>
  <app-navigatie (scrollEvent)="scroll($event)"></app-navigatie>
</div>

<div class="body l-wrap" id="profile" #profile>
  <div class="framework">
    <div class="frame">

    </div>

    <div class="about-list">

      <p class="frame__text">Het bouwen en bedenken van verassende ervaringen op maat is waar we met A Maze voor gaan.
        We werken mee aan puzzels voor escape rooms, we bouwen gepersonaliseerde spelen en activiteiten voor
        particulieren en bedrijven. We brengen ook onze eigen spelen op de markt die zorgen voor een gezellig samenzijn
        met de nodige portie puzzelplezier.
      </p>
    </div>
  </div>
  <app-small-navigatie class="two-col-grid small-nav" (scrollEvent)="scroll($event)" [activeElement]="elementId">
  </app-small-navigatie>
</div>

<div class="body l-wrap" id="projects" #project>
  <div class="projects-list">
    <div class="projects-list__project clickable" *ngFor="let project of projects">
      <img src="{{project.imageUrl}}" />
    </div>
  </div>
</div>


<div class="body l-wrap" id="shop" #shop>
</div>

<div class="body l-wrap" id="contact" #contact [ngSwitch]="contactService.viewState">
  <form class="contact" [formGroup]="formData" (ngSubmit)="onSubmit($event)" *ngSwitchCase="ViewState.Default">
    <div class="form">
      <div class="form__name">
        <input type="text" placeholder="Naam" formControlName="fullname" name="fullname">
      </div>
      <div class="form__mail">
        <input type="text" placeholder="Email" formControlName="email" name="email">
      </div>
    </div>
    <div class="gegevens">
      <div class="gegevens__number">
        <p class="gegevens__email">welcome@a-maze.be</p>
        <div class="gegevens__detail">
          <p>Ruben Van der Meirsch</p>
          <p>+32 499 76 43 45</p>
        </div>
        <div class="gegevens__detail">
          <p>Lore Vanderlinden</p>
          <p>+32 499 33 44 78</p>
        </div>
      </div>
      <div class="gegevens__input">
        <div class="textarea">
          <textarea placeholder="Jouw geweldig voorstel..." formControlName="comment" name="comment"></textarea>
        </div>
        <div class="gegevens__button">
          <button class="button" [ngClass]="{'clickable' : formData.valid}"
            [disabled]="!formData.valid">Verzenden</button>
        </div>
      </div>
    </div>
  </form>

  <div class="contact__error-state" *ngSwitchCase="ViewState.Error">
    <p>Oeps! Er ging iets mis bij het versturen van jouw gegegevens. Probeer het nog eens of neem contact met ons op via
      welcome@a-maze.be.</p>
  </div>

  <div class="contact__error-state" *ngSwitchCase="ViewState.Success">
    <p>Geweldig om te horen dat jij interesse hebt om samen te werken met A Maze! We bekijken je voorstel aandachtig en
      nemen zo snel mogelijk contact met jou op.</p>
  </div>

  <div class="contact__error-state" *ngSwitchCase="ViewState.Loading">

  </div>
</div>
