@import "src/assets/css/fonts";

.clickable {
  cursor: pointer;
}

.body {
  align-items: center;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.container_16 {
  margin: 0;
  width: 100vw;
}

.logo {
  height: 100vh;
}

.logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.small-nav {
  grid-column: 27 / span 2;
}

.about-list {

  // img {
  //   clip-path: polygon(0% 0%, 0% 110%, 100% 100%, 100% 50%, 80% 40%, 80% 30%, 120% 24%, 100% 0%);
  //   height: 100vh;
  //   float: left;
  //   shape-outside: polygon(0% 0%, 0% 110%, 100% 100%, 100% 50%, 80% 40%, 80% 30%, 120% 24%, 100% 0%);
  // }
}

.framework {
  align-items: center;
  border: 1px solid #fff;
  grid-column: 4 / span 22;
  justify-content: center;

  &__text {
    color: #fff;
    font-family: 'avenir';
    font-size: 2em;
    margin-bottom: 0;
    padding: 4% 3% 8% 4%;
  }
}

#projects {
  align-items: center;
}

.projects-list {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: (2.12688548126% + 1.0416666666666665% + 1.0416666666666665%);
  height: 70vh;
  grid-column: 4 / span 16;

  &__project {
    img {
      width: 100%;
    }
  }
}

.contact {
  display: flex;
  grid-column: 4 / span 22;
  flex-direction: column;
  justify-content: center;

  &__error-state {
    color: #fff;
    display: flex;
    font-size: 2.5em;
    font-family: 'avenir';
    flex-direction: column;
    grid-column: 9 / span 16;
    justify-content: center;
    text-align: center;
  }
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.0416666666666665%;
  margin-bottom: 1.0416666666666665%;
}

input, textarea {
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 2.5em;
  font-family: 'avenir';
  width: 100%;
  border:none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

textarea {
  height:  100%;
  text-align: start;
}

.textarea {
  height:  (85%-(1.0416666666666665% / 2));
  margin-bottom: 1.0416666666666665%;

  textarea {
    resize: none;
  }
}

.gegevens {
  display: grid;
  grid-template-columns: (40%-(1.0416666666666665% / 2)) (60%-(1.0416666666666665% / 2));
  grid-column-gap: 1.0416666666666665%;

  &__email {
    margin-top: 50px;
  }

  &__button {
    height:  (15%-(1.0416666666666665% / 2));
  }

  &__number {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-family: 'avenir';
    padding: 15px 20px;

    p {
      margin-bottom: 50px;
    }
  }

  &__detail {
    align-items: center;
    display: flex;
    flex-direction: column;

    p:first-child {
      margin-bottom: 0;
    }
  }

  button[disabled] {
    background-image: linear-gradient(to right, #fff , #000);
  }
}

.button {
  background-image: linear-gradient(to right, #006938 , #009245);
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 100%;
  font-size: 2.5em;
  font-family: 'avenir';
  width: 100%;
}




