@import "src/assets/css/fonts";
@import "src/assets/css/font-size";

.clickable {
  cursor: pointer;
}

.body {
  align-items: center;
  background-color: #000;
  display: grid;
  height: 100vh;
  width: 100vw;
}

.container_16 {
  margin: 0;
  width: 100vw;
}

.logo {
  grid-column: 10 / span 12;
  flex-direction: column;
  height: 100vh;
}

.logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.small-nav {
  grid-column: 27 / span 2;
}

.hamburger-menu {
  display: none;
  grid-column: 1 / span 32;
}

.button-nav {
  display: none;
  grid-column: 1 / span 32;
  margin-bottom: 10px;
  width: 100%;

  &__button {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 9vh;
    justify-content: space-between;
    margin-bottom: 7px;

    img {
      margin-left: 10px;
      width: 15%;
    }

    p {
      @include large;
      font-family: 'avenir';
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.about-list {

  // img {
  //   clip-path: polygon(0% 0%, 0% 110%, 100% 100%, 100% 50%, 80% 40%, 80% 30%, 120% 24%, 100% 0%);
  //   height: 100vh;
  //   float: left;
  //   shape-outside: polygon(0% 0%, 0% 110%, 100% 100%, 100% 50%, 80% 40%, 80% 30%, 120% 24%, 100% 0%);
  // }
}

.framework {
  align-items: center;
  border: 1px solid #fff;
  grid-column: 4 / span 22;
  justify-content: center;

  &__text {
    @include extra-medium;
    color: #fff;
    font-family: 'avenir';
    margin-bottom: 0;
    padding: 4% 3% 8% 4%;
  }
}

.projects-list {
  align-items: center;
  margin-bottom: 7%;
  margin-top: 7%;

  img {
    width: 100%;
  }
}

.contact {
  display: flex;
  grid-column: 4 / span 22;
  flex-direction: column;
  justify-content: center;

  &__error-state {
    @include extra-medium;
    color: #fff;
    display: flex;
    font-family: 'avenir';
    flex-direction: column;
    grid-column: 9 / span 16;
    justify-content: center;
    text-align: center;
  }
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.0416666666666665%;
  margin-bottom: 1.0416666666666665%;
}

input, textarea {
  @include extra-medium;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'avenir';
  width: 100%;
  border:none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

textarea {
  height:  100%;
  text-align: start;
}

.textarea {
  height:  (85%-(1.0416666666666665% / 2));
  margin-bottom: 1.0416666666666665%;

  textarea {
    resize: none;
  }
}

.gegevens {
  display: grid;
  grid-template-columns: (40%-(1.0416666666666665% / 2)) (60%-(1.0416666666666665% / 2));
  grid-column-gap: 1.0416666666666665%;

  &__email {
    margin-top: 50px;
  }

  &__button {
    height:  (15%-(1.0416666666666665% / 2));
  }

  &__number {
    @include extra-medium;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'avenir';
    padding: 15px 20px;

    p {
      margin-bottom: 50px;
    }
  }

  &__socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__detail {
    align-items: center;
    display: flex;
    flex-direction: column;

    p:first-child {
      margin-bottom: 0;
    }
  }

  button[disabled] {
    background-image: linear-gradient(to right, #757575, #757575);
  }
}

.button {
  @include extra-medium;
  background-image: linear-gradient(to right, #006938 , #009245);
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 100%;
  font-family: 'avenir';
  width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .small-nav {
    display: none;
  }

  .button-nav {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    height: 20vh;
    grid-column: 8 / span 18;
    margin-top: 20px;
  }

  .framework {
    border: 1px solid #fff;
    grid-column: 4 / span 26;
    height: 78vh;
    margin-top: 12vh;

    &__text {
     font-size: 22px;
      color: #fff;
      font-family: 'avenir';
      margin-bottom: 0;
      padding: 4% 3% 8% 4%;
    }
  }

  .projects-list {
    align-items: center;
    grid-column: 8 / span 18;
    margin-bottom: 7%;
    margin-top: 7%;

    img {
      width: 100%;
    }
  }

  .projects-list:first-child {
    margin-top: 12vh;
  }

  .contact {
    grid-column: 5 / span 24;

    &__error-state {
      @include extra-medium;
      color: #fff;
      display: flex;
      flex-direction: column;
      grid-column: 9 / span 16;
      justify-content: center;
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    &__mail {
      margin-top: 1.0416666667%;
    }
  }

  .gegevens {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__email {
      margin-top: 20px;
    }

    &__button {
      height: 40px;
    }

    &__number {
      font-family: 'avenir';
      font-size: 17px;

      p {
        margin-bottom: 20px;
      }
    }

    .textarea {
      height:  200px;
    }

    &__socials {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 30%;
      }

      a {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }


  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 900px) and (orientation : portrait) {
  .small-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .button-nav {
    display: block;

    img {
      margin-left: 20px;
      width: 10%;
    }

    p {
      @include extra-grand;
      font-family: 'avenir';
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .logo {
    height: 20vh;
    grid-column: 9 / span 16;
    margin-top: 20px;
  }
}

@media only screen and (min-device-width : 900px) and (max-device-width : 1024px) and (orientation : portrait) {

}




